@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Avenir,Helvetica,Arial,sans-serif";

  @apply text-slate-600;
}

.input-group {
  input {
    @apply border rounded p-1 pt-0;
  }

  label {
    @apply mr-2 mb-2;
  }

  @apply flex flex-col pb-2;
}

h1 {
  font-size: 1.5rem;
}

.card {
  @apply border rounded-lg p-8 shadow;

  .card-title {
    text-transform: uppercase;
    font-weight: 700;
  }
}

a {
  color: #0969da;
  @apply hover:underline
}
